<div class="d-flex align-items-center">
  <h1>編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "掲示板一覧", tasks_path, class: "btn btn-outline-dark"%>
  </div>
</div>
<%= render partial: "form", locals: {task: @task}%>