.tasks__table {
  tr:hover {
    cursor: pointer;
  }
}

.tasks__linkBox {
  a {
    margin: 0 8px;
  }
}

.tasks__searchForm {
  display: inline-block;
}

.tasks__select {
  display: inline-block;
  width: auto;
}